--- 
layout: default 
title: Daniel 
---

  <div class="row">
    <div class="eight columns">
      {% for post in paginator.posts limit: 1 %}
      <h3><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>

      <div class="row">
        <div class="twelve columns">
          {{ post.content }}
        </div>
      </div>
      {% endfor %}

      <div class="pagination">
      <p>
        {% if paginator.previous_page %}
          {% if paginator.previous_page == 1 %}
            <a href="/" class="previous">Previous</a>
          {% else %}
            <a href="{{ site.baseurl }}/page{{ paginator.previous_page }}" class="previous">Previous</a>
          {% endif %}
        {% else %}
          <span class="previous">Previous</span>
        {% endif %}
        <span class="page_number">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
        {% if paginator.next_page %}
          <a href="{{ site.baseurl }}/page{{ paginator.next_page }}" class="next">Next</a>
        {% else %}
          <span class="next">Next</span>
        {% endif %}
      </p>
    </div>
    </div>
    <div class="four columns">
      <h4>Recent Writings</h4>
      <p>From the archive:</p>
      <ul class="disc">
      {% for post in site.posts offset: 1 limit: 10 %}
        <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
      </ul>
      <p><a href="/feed.xml">Subscribe to Feed</a></p>
    </div>
  </div>