<!DOCTYPE html>

<html>


{% include head.html %} 
{% include google_analytics.html %}
{% seo %}   


<body>
    <nav>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/about">About</a>
            </li>
            <li>
                <a href="/blog">Blog</a>
            </li>
        </ul>
    </nav>
    <div class="container">

        {{ content }}

    </div>
    <!-- /.container -->
    <footer>
        <ul>
            <li>
                <a href="mailto:daniel.schwensen@gmail.com">email</a>
            </li>
            <li>
                <a href="https://github.com/danielschwensen">github.com/danielschwensen</a>
            </li>
        </ul>
    </footer>
</body>

</html>
